body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
  }
  
  .bg {
    background-position: center;
    background-size: cover;
    background-image: url("/vecteezy_dark-interior-with-circle-neon-light-3d-vector-showcase-for_8079348.jpg");
    background-repeat: no-repeat;
    height: 100vh;
  }
  
  .menu {
    display: none;
  }
  *{
    font-family: "Integral CF";
    padding: 0;
    margin: 0;
  }
  .head{
    background-color: black;
  }

  ul{
    list-style: none;
  }
  ul li{
    display: inline-block;
    position: relative;
  }
  ul li a{
    display: block;
    padding: 20px 25px;
    text-decoration: none;
    text-align: center;
    color: rgb(255, 255, 255);
  }

  ul li ul.dropdown li{
    display: block;

  }
  ul li ul.dropdown{
     width: 100%;
     position:absolute;
     z-index: 999;
     display: none;
     background: rgb(53, 53, 53);
     border-color: black;
  }
  ul li a :hover{
    background: black;
  }
  ul li:hover ul.dropdown{
    display: block;
  }
  
.title{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    color:aliceblue;
}
  
